* {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}


body {
    background-color: #fc0;
}

.nav-link:visited {
    color: #2a7ae2;
}

.nav-link:hover {
    color: #2a7ae2;
}

.btn:hover {
    cursor: pointer;
}

.h1 {
    font-size: 4.8vmax;
}

.h2 {
    font-size: 4vmax;
}

.container-fluid {
    padding: 0;
}

.navbar {
    background-color: #fc0;
    z-index: 10;
}

#navbar-brand-img {
    height: 92px;
    width: 84px;
}

.item-block {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 60px;
}

.item-block-st {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

/* colors */
.mfs-bg-blue {
    background-color: #3873CC;
    color: white;
}

.mfs-color-blue {
    color: #3873CC;
}

a .mfs-color-blue:hover {
    color: #7690C5;
}

.mfs-bg-yellow {
    background-color: #fc0;
}

.mfs-color-yellow {
    color: #fc0;
}

.mfs-bg-db {
    background-color: #34313d;
}

.mfs-color-red {
    color: #ef362e;
}

.mfs-bg-red {
    background-color: #ef362e;
    color: white;
}

.mfs-color-dark-red {
    color: #A31410;
}

.mfs-bg-dark-red {
    background-color: #A31410;
    color: gray;
}

.mfs-bg-gray {
    background-color: gray;
    color: lightgray;
}

.blob {
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    #navbar-brand-img {
        height: 62px;
        width: 55px;
    }
    .item-block {
        padding-left: 45px;
        padding-right: 45px;
    }
    .item-block-st {
        padding-left: 45px;
        padding-right: 45px;
    }
}

.col-md-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
