/* to be changed in core are anchor hoves for this color */
.initiative-title:hover {
    color: #7690C5;
}

.initiative-datetime {
    color: black;
}

.divider-white {
    height: 2px;
    background-color:white;
    margin: 0
}

.divider-black {
    height: 2px;
    background-color:black;
    margin: 0
}