<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ page.title }}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1">
        <meta charset="utf-8">
        <meta property="og:site_name" content="MARCH FOR SCIENCE NYC">
        <meta property="og:title" content="{{ page.title }}"">
        <meta property="og:type" content="website">
        <meta name="description" content="">
        <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/logo.webp">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Baskerville:700|Roboto:400,500">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/core.css">
        {% if page.stylesheet %}
            <link rel="stylesheet" href="{{ site.baseurl }}{{ page.stylesheet }}">
        {% endif %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-md navbar-light py-4">
            <a class="navbar-brand" href="{{ site.baseurl }}/" style="margin-left: 40px;">
                <img src="{{ site.baseurl }}/images/mfs_logo_without_text.svg" id="navbar-brand-img" alt="March For Science NYC" onerror="this.onerror=null;this.src='{{ site.baseurl }}/images/mfs_logo_without_text.png';">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuItems">
                <ul class="navbar-nav mt-2 mt-lg-0 ml-auto" style="margin-right:40px;">
                    <!-- <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ site.baseurl }}/blog"><strong>BLOG</strong><span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>ABOUT</strong>
                        </a>
                        <!-- <div class="dropdown-menu mfs-bg-yellow" aria-labelledby="navbarDropdown">
                            <a  href="/">EVENT</a>
                            <a class="dropdown-item" href="/team">TEAM</a>
                        </div> -->
                        <ul class="dropdown-menu mfs-bg-yellow" aria-labelledby="navbarDropdown">
                            <li><a href="/" style="display: block; max-width: 50px; margin: auto; color: black;">EVENT</a></li>
                            <li><a href="/team" style="display: block; max-width: 50px; margin: auto; color: black;">TEAM</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ site.baseurl }}/event"><strong>EVENT</strong></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{ site.baseurl }}/contact"><strong>CONTACT</strong></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="https://cash.app/$marchforsciencenyc"><strong>DONATE</strong></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link mfs-bg-red" href="{{ site.baseurl }}/mailing-list-signup" style="color: white"><strong>MAIL LIST</strong></a>
                    </li>
                    <li class="nav-item mx-2 d-flex align-items-center">
                        <span class="mx-1"><a href="https://www.facebook.com/mfsnyc/"><img src="{{ site.baseurl }}/images/facebook.png" alt="f" style="height: 18px; width: 18px;"></a></span>
                        <span class="mx-1"><a href="http://instagram.com/marchforsciencenyc"><img src="{{ site.baseurl }}/images/instagram.png" alt="i" style="height: 18px; width: 18px;"></a></span>
                        <span class="mx-1"><a href="https://twitter.com/sciencemarchnyc"><img src="{{ site.baseurl }}/images/twitter.png" alt="t" style="height: 18px; width: 18px;"></a></span>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="site-inner">

            {{ content }}

        </div>
        <div class="item-block mfs-bg-db mfs-color-yellow">
            <div class="container">
                <div class="row" style="text-align: center">
                    <!-- <div class="col-sm-2">
                        <strong>BLOG</strong>
                    </div> -->
                    <div class="col-sm-4">
                        <a class="nav-link" href="{{ site.baseurl }}/"><strong>ABOUT</strong></a>
                    </div>
                    <div class="col-sm-4">
                        <a class="nav-link" href="{{ site.baseurl }}/contact"><strong>CONTACT</strong></a>
                    </div>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="https://cash.app/$marchforsciencenyc"><strong>DONATE</strong></a>
                    </li>
                    <!-- <div class="col-sm-4">
                        <a class="nav-link" href="https://whova.com/portal/registration/march_202004/"><strong>REGISTER</strong></a>
                    </div> -->
                    <!-- <div class="col-sm-2">
                        <strong>SOCIAL</strong>
                    </div> -->
                    <div class="col-sm-2">
                        <a class="nav-link" href="{{ site.baseurl }}/mailing-list-signup"><strong>MAIL LIST</strong></a>
                    </li>
                </div>
            </div>
        </div>
        <div class="item-block-st mfs-bg-db pb-4 d-flex justify-content-center">
            <img src="{{ site.baseurl }}/images/mfs_logo_with_text.svg" height="100" width="100" alt="March For Science NYC" alt="Not Found" onerror="this.onerror=null;this.src='{{ site.baseurl }}/images/mfs_logo_with_text.png';">
        </div>
        <div class="mfs-bg-db pb-4 px-5">
            <a href="http://studiogoodie.com/" style="float:left; color: white">Design by Studio Goodie</a>
            <a href="https://github.com/SteveUcho" style="float: right; color: white">Built by Steve Ucho</a>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
